@use "vars";


.current-weather {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  
    .current--left-block {
      display: flex;
      flex-direction: row;
  
      & p {white-space: nowrap;}

      .current--weather-and-temp {
        display: flex;
        flex-direction: row;
        align-items: center;
        @media screen and (max-width: 690px) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 85px;
        }

        .current--weather-icon {
          display: flex;
          align-items: center;
          width: 60px;
          height: 60px;
          margin-right: 5px;
          @media screen and (max-width: 690px) {
            width: 40px;
            height: 40px;
          }
          
          & img {height: 100%;}
        }
    
        .current--temp {
          display: flex;
          align-items: center;
          font-size: 40px;
          margin-right: 10px;
          @media screen and (max-width: 690px) {
            font-size: 24px;
            margin-right: 5px;
          }
        }
      }
  
      .current--all-params {
        display: flex;
        flex-direction: row-reverse;
        @media screen and (max-width: 550px) {
          flex-direction: column;
        }
      }
      .current--other-params {
        display: flex;
        flex-direction: column;
        font-size: vars.$sidebar_big_font;
        line-height: 20px;
        color: vars.$secondary_color;
        padding: 0 10px;
        border-left: 1px gray solid;
        @media screen and (max-width: 690px) {
          padding: 0 5px;
        }
        @media screen and (max-width: 550px) {
          font-size: vars.$sidebar_medium_font;
          line-height: 16px;
        }
      }
    }
  
    .current--right-block {
      text-align: right;
      font-size: vars.$sidebar_very_big_font;
      line-height: 22px;
      @media screen and (max-width: 550px) {
          font-size: vars.$sidebar_big_font;
          line-height: 20px;
      }

      & p {white-space: nowrap;}
      & .current--weather-description {white-space: normal;}
  
      .current--day {
        font-size: 20px;
        font-weight: bold;
        margin-top: -2px;
        margin-bottom: 2px;
      }
  
      .utc {
        font-size: vars.$sidebar_big_font;
        color: vars.$secondary_color;
        @media screen and (max-width: 550px) {font-size: vars.$sidebar_medium_font;}
      }
    }
  }